<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää varaus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<nav class="nav_wrapper">
        <div class="burger"><i class="fa fa-bars fa-3x"></i></div>
        <ul class="nav_items main_nav mobile-hide">
        	<li class="nav_item"><h1>Tee uusi varaus</h1></li>
        	<li class="nav_item"><a href="/">Palaa takaisin</a></li>
          	<li class="nav_item"><a href="javascript: document.logoutForm.submit()" >Kirjaudu ulos</a>
          	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden = "true">
          	<input type="submit" value="Kirjaudu ulos"/>
          	</form>
          </li>
          
        </ul>
    </nav>
	<div class="addform">
	<form action="#" th:action="@{/addreservation}"  th:object= ${reservation} method="post">
		<table id="addresinfo">
			<tr><td><input type="hidden" th:field="${reservation.id}" /></td></tr>
			<tr>
				<td>Käyttäjä:</td>
				<td>
					<select th:field="*{user.userId}">
				 		<option value="">--</option>
    					<option th:each="user : ${users}"
    					th:value="${user.userId}"
    					th:utext="${user.username}" />
					</select>
				</td>
			</tr>
			<tr>
				<td>Päivämäärä:</td>
				<td><input type="text" th:field="${reservation.date}" /></td>
			</tr>
			<tr>	
				<td>Alkaa:</td>
				<td><input type="text" th:field="${reservation.start}" /></td>
			</tr>
			<tr>	
				<td>Loppuu:</td>
				<td><input type="text" th:field="${reservation.end}" /></td>
			</tr>
			<tr>	
				<td>Tyyppi:</td>
				<td><input type="text" th:field="${reservation.type}" /></td>
			</tr>	
			<tr>
				<td>Sauna:</td>
				<td>
					<select th:field="*{sauna.saunaId}">
				 		<option value="">--</option>
    					<option th:each="sauna : ${saunas}"
    					th:value="${sauna.saunaId}"
    					th:utext="${sauna.name}" />
					</select>
				</td>
			</tr>
			<tr><td><input type="submit" value="Tallenna" /> <input type="reset" value="Tyhjennä" /></td></tr>
		</table>
	</form>
	</div>
</body>
</html>