<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää käyttäjä</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
	<nav class="nav_wrapper">
        <div class="burger"><i class="fa fa-bars fa-3x"></i></div>
        <ul class="nav_items main_nav mobile-hide">
        	<li class="nav_item"><h1>Lisää käyttäjä</h1></li>
        	<li class="nav_item"><a href="/userlist">Palaa takaisin</a></li>
          	<li class="nav_item"><a href="javascript: document.logoutForm.submit()" >Kirjaudu ulos</a>
          	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden = "true">
          	<input type="submit" value="Kirjaudu ulos"/>
          	</form>
          </li>
          
        </ul>
    </nav>
    <div class="addform">
		<form action="#" th:action="@{/adduser}"  th:object= ${user} method="post">
    			<table class="addinfo">
					<tr><td><input type="hidden" th:field="${user.userId}" /></td></tr>
					<tr>
						<td>Käyttäjänimi:</td>
						<td><input type="text" th:field="${user.username}" /></td>
					</tr>
					<tr>
						<td>Salasana:</td>
						<td><input type="text" th:field="${user.plainPassword}" /></td>
					</tr>
					<tr>	
						<td>Asunnon numero:</td>
						<td><input type="text" th:field="${user.apartmentNr}" /></td>
					</tr>
					<tr>	
						<td>Etunimi:</td>
						<td><input type="text" th:field="${user.firstName}" /></td>
					</tr>
					<tr>	
						<td>Sukunimi:</td>
						<td><input type="text" th:field="${user.lastName}" /></td>
					</tr>	
					<tr>	
						<td>Sähköposti:</td>
						<td><input type="text" th:field="${user.email}" /></td>
					</tr>
					<tr>	
						<td>Rooli:</td>
						<td><input type="text" th:field="${user.role}" /></td>
						<td th:if="${#fields.hasErrors('*')}">Roolin pitää olla isoilla kirjaimilla. Esim. "USER"</td>
					</tr>
					<tr><td><input type="submit" value="Tallenna" /> <input type="reset" value="Tyhjennä" /></td></tr>
				</table>
		</form>
	</div>
</body>
</html>

